.App {
  text-align: center;
}

.Events-Table {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* width: 1000px; */
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

#ClassList {
  /* float: left; */
  width: 300px;
  border: 3px solid #73ad21;
  padding: 10px;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
